			<div class="field">
				<div id="mazebuilder"></div>
				<%= f.hidden_field :layout%>
				<!--input type="hidden" name="layout" id="layout" value="<%= render plain: @layout %>" ///-->
			</div>
		</div>
      	<div class="col-lg-6">

			<div class="layouts">
			<h3>Choose one to start:</h3>

			<%= render 'layouts/list_for_mazes' %>

			</div>
    	</div>