			<script>
			    function blocklyLoaded(blockly) {
			      // Called once Blockly is fully loaded.
			      window.Blockly = blockly;
			    }

			    function updateForm()
			    {
			    	var code = Blockly.JavaScript.workspaceToCode();
			    	console.log(code);

			    	try {
					    eval(code);
					} catch (e) {
						// Null is thrown for infinite loop.
						// Otherwise, abnormal termination is a user error.
						if (e !== Infinity) {
						  alert(e);
						}
					}
			    }
			</script>

			<h4>Drag blocks to setup your maze.</h4>

			<iframe src="/static/blockly" class="blockly col-lg-12" style="border:0 1px 1px 0;border-style:solid;border-color:#ddd;padding:0;height:350px"></iframe>

				<%= f.hidden_field :title%>
				<%= f.hidden_field :setting_id%>
				<%= f.hidden_field :main_character_id%>
				<%= f.hidden_field :goal_id%>