</div>
        </div>
      </div>
      <footer>
        <p>&copy; <a href="http://www.jlcreations.com">JLCreations.com 2014</a></p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>