<table>
  <thead>
  </thead>

  <tbody>
      <tr>
        <td>
          <div id="samplemaze1" class="mazelayout">
          <input id="mazestring1" name="mazestring1" type="hidden" value="[[0,0,0,0,0],[1,1,1,1,1],[1,0,0,0,0],[1,1,1,1,1],[0,0,0,0,0]]" /></div>
        </td>
        <td>
          <div id="samplemaze2" class="mazelayout">
          <input id="mazestring2" name="mazestring2" type="hidden" value="[[0,0,0,0,0],[0,1,1,1,0],[0,1,0,1,0],[0,0,0,1,0],[1,1,1,1,0]]" /></div>
        </td>
        <td>
          <div id="samplemaze3" class="mazelayout">
          <input id="mazestring3" name="mazestring3" type="hidden" value="[[1,1,1,1,1],[1,0,0,0,0],[1,1,1,1,1],[0,0,0,0,1],[1,1,1,1,1]]" /></div>
        </td>
      </tr>
  </tbody>
</table>