
  <body onload="init()">
    <xml id="toolbox" style="display: none">
      <category name="Control">
      <block type="loop_forever"></block>
      <block type="loop_n_times"></block>
      </category>
      <category name="Movement">
        <block type="move_west"></block>
        <block type="move_north"></block>
        <block type="move_east"></block>
        <block type="move_south"></block>
      </category>
    </xml>

    <script>
      function init() {
        Blockly.inject(document.body,
            {path: '../../', toolbox: document.getElementById('toolbox')});
        // Let the top-level application know that Blockly is ready.
        window.parent.blocklyLoaded(Blockly);
        /*var defaultXml =
              '<xml>' +
              '  <block type="mazebuilder_settings" x="70" y="70">' + 
              '    <value name="title">' + 
              '       <block type="mazebuilder_title" id="109"></block>' + 
              '    </value></block>' +
              '</xml>';*/


        /*var defaultXml =
              '<xml>' +
              '  <block type="mazebuilder_settings" x="70" y="70"></block>' +
              '</xml>';*/

        //loadBlocks(defaultXml);
      }
      /*loadBlocks = function(defaultXml) {
        console.log("tada")
          try {
            var loadOnce = window.sessionStorage.loadOnceBlocks;
          } catch(e) {
            // Firefox sometimes throws a SecurityError when accessing sessionStorage.
            // Restarting Firefox fixes this, so it looks like a bug.
            var loadOnce = null;
          }
          if ('BlocklyStorage' in window && window.location.hash.length > 1) {
            // An href with #key trigers an AJAX call to retrieve saved blocks.
            BlocklyStorage.retrieveXml(window.location.hash.substring(1));
          } else if (loadOnce) {
            // Language switching stores the blocks during the reload.
            delete window.sessionStorage.loadOnceBlocks;
            var xml = Blockly.Xml.textToDom(loadOnce);
            Blockly.Xml.domToWorkspace(Blockly.mainWorkspace, xml);
          } else if (defaultXml) {
            // Load the editor with default starting blocks.
            var xml = Blockly.Xml.textToDom(defaultXml);
            Blockly.Xml.domToWorkspace(Blockly.mainWorkspace, xml);
          } else if ('BlocklyStorage' in window) {
            // Restore saved blocks in a separate thread so that subsequent
            // initialization is not affected from a failed load.
            window.setTimeout(BlocklyStorage.restoreBlocks, 0);
          }
      }*/
    </script>

  </body>
