<%= render 'layouts/panel_header' %>

		<div class="row">
			<div class="col-lg-6">
			  Maze Builder
			</div>
			<div class="col-lg-6">
			  Choose maze base
			</div>	
		</div>

<%= render 'layouts/panel_footer' %>
	