
<div class="panel-heading">Maze Builder Step 1: Choose a Maze Base</div>
<div class="panel-body">	
	<div class="panel-body">
		<div class="row">
			<div class="col-lg-6">
			  Maze Builder
			</div>
			<div class="col-lg-6">
			  Choose maze base
			</div>	
		</div>
	</div>
</div>
<div class="panel-footer">
	<div class="row">
		<div class="col-lg-6">
		  <div class="btn-group">
			  <button type="button" class="btn btn-default">
			  	Reset
			  </button>
			  <button type="button" class="btn btn-default">
			  	Get Help
			  </button>
		  </div>
		</div>
		<div class="col-lg-6" style="text-align:right">
		  <button type="button" class="btn btn-default">
		  	Next Step
		  </button>
		</div>	
	</div>
</div>