<div class="field">
	<div id="mazebuilder"></div>

	<input type="hidden" name="layoutstring" id="layoutstring" value="<%= render plain: @layoutstring %>" />

	<!--div id="mazebuilder"></div>
	<input type="hidden" name="action" id="action" value="<%= render plain: action_name %>">
	<input type="hidden" name="layoutstring" id="layoutstring" value="<%= render plain: @layoutstring %>" / //-->
</div>