<table>
  <thead>
    <tr>
      <th>Layout</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>
          <div id="samplemaze1" class="mazelayout">
          <input id="mazestring1" name="mazestring1" type="hidden" value="[[0,0,0,0,0],[1,1,1,1,1],[1,0,0,0,0],[1,1,1,1,1],[0,0,0,0,0]]" />
          </div>
          <script type="text/javascript">
            $(document).ready
            {
              var sampleMaze01 = new MazeLayout(
                "samplemaze1",  
                JSON.parse($("#mazestring1").val()),
                25,5,5,
                  "sample")
            }
          </script>
        </td>
        <td>
          <div id="samplemaze2" class="mazelayout">
          <input id="mazestring2" name="mazestring1" type="hidden" value="[[0,0,0,0,0],[0,1,1,1,0],[0,1,0,1,0],[0,0,0,1,0],[1,1,1,1,0]]" /></div>
          <script type="text/javascript">
            $(document).ready
            {
              var sampleMaze01 = new MazeLayout(
                "samplemaze2",  
                JSON.parse($("#mazestring2").val()),
                25,5,5,
                  "sample")
            }
          </script>
        </td>
      </tr>
  </tbody>
</table>